In [6]:
import pandas as pd

In [9]:
df = pd.read_csv("knn_config_recommendation.csv")

In [24]:
latexstr = df.query("mode == 'cc' & split == 'test' & metric == 'rank'").drop(columns=["mode", "split", "metric"]).to_latex(index=False)
print(latexstr)

\begin{tabular}{rrrrrr}
\toprule
   k &        r &      r.1 &      r.2 &      r.3 &      r.4 \\
\midrule
 1.0 & 0.116415 & 0.117290 & 0.117167 & 0.116163 & 0.115278 \\
 3.0 & 0.113970 & 0.114951 & 0.114819 & 0.114587 & 0.114102 \\
 5.0 & 0.113905 & 0.114558 & 0.114533 & 0.113986 & 0.113526 \\
15.0 & 0.114405 & 0.114948 & 0.115084 & 0.114135 & 0.113520 \\
25.0 & 0.113169 & 0.113650 & 0.113676 & 0.112941 & 0.112412 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_904340/805895933.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latexstr = df.query("mode == 'cc' & split == 'test' & metric == 'rank'").drop(columns=["mode", "split", "metric"]).to_latex(index=False)

In [26]:
df.query("mode == 'cc' & split == 'test' & metric == 'rank'").drop(columns=["mode", "split", "metric"])*100

        k          r        r.1        r.2        r.3        r.4
1   100.0  11.641499  11.729003  11.716701  11.616298  11.527839
2   300.0  11.396972  11.495102  11.481867  11.458679  11.410199
3   500.0  11.390494  11.455818  11.453323  11.398597  11.352649
4  1500.0  11.440549  11.494799  11.508397  11.413465  11.351951
5  2500.0  11.316943  11.364981  11.367635  11.294053  11.241188

In [1]:
s = """1					
3	0.21	0.28	0.30	0.37	0.40
5	0.19	0.27	0.29	0.37	0.41
15	0.26	0.34	0.37	0.45	0.50
25	0.26	0.36	0.40	0.49	0.54"""

In [5]:
data = {}
for l in s.split("\n"):
    ll = l.split("\t")
    data[]

['1', '', '', '', '', '']
['3', '0.21', '0.28', '0.30', '0.37', '0.40']
['5', '0.19', '0.27', '0.29', '0.37', '0.41']
['15', '0.26', '0.34', '0.37', '0.45', '0.50']
['25', '0.26', '0.36', '0.40', '0.49', '0.54']

In [ ]:
# Converting the given data into a LaTeX table format

data = {
    "k": [1, 3, 5, 15, 25],
    "r1": [0.12, 0.11, 0.11, 0.11, 0.11],
    "r2": [0.12, 0.11, 0.11, 0.11, 0.11],
    "r3": [0.12, 0.11, 0.11, 0.12, 0.11],
    "r4": [0.12, 0.11, 0.11, 0.11, 0.11],
    "r5": [0.12, 0.11, 0.11, 0.11, 0.11]
}

latex_table = "\\begin{tabular}{|c|c|c|c|c|c|}\n\\toprule\n"
latex_table += "k & r1 & r2 & r3 & r4 & r5 \\\\\n\\midrule\n"

for i in range(len(data["k"])):
    row = [data[key][i] for key in data]
    latex_table += " & ".join(map(str, row)) + " \\\\\n"

latex_table += "\\bottomrule\n\\end{tabular}"

latex_table